.filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-intro {
    display: flex;
    align-items: center;
}

.filter-intro img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.filter-list {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.filter-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
  flex-shrink: 1;
  min-width: 0;
}

.filter-reset {
    align-self: flex-end;
}

.filter-reset-button {
    width: 150px;
    height: 40px;
    color: green;
    background-color: var(--background-primary-color);
    border-color: green;
}

.filter-reset-button p {
    font-weight: 700;
}