:root {
    --background-primary-color: #ffffff;
    --background-secondary-color: #fdfdfd;
    --background-terciary-color: #dbdbdb;

    --background-dark-primary-color: #292c35;

    --text-primary-color: #000000;
    --text-secondary-color: #676767;

}

header {
    background-color: var(--background-primary-color);
}

body {
    background-color: var(--background-secondary-color);
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
}

button {
    cursor: pointer
}

input {
    outline: none;
    border: none;
    background: transparent;
}

.content {
    min-height: 100vh;
    margin-left: 0px;
    transition: margin-left 0.3s ease-in-out;
}

.content.menu-open {
    margin-left: 250px;
}

hr {
    width: 150px;
    color: var(--background-terciary-color);
}

h1 {
    color: var(--text-primary-color);
    font-size: 32px;
}

h3 {
    color: var(--text-secondary-color);
    font-size: 16px;
}