input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

.new-transaction-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-transaction-intro {
  display: flex;
  align-items: center;
  gap: 5px;
}

.new-transaction-intro img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.new-transaction-form {
  max-width: 100%;
  display: flex; 
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
  flex-shrink: 1;
  min-width: 0;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 10px;
}

.add-transaction-button{
  max-width: 200px;
  height: 40px;
  border: 2px solid var(--background-terciary-color);
  border-radius: 5px;
  padding-left: 10px;
}


.radio-group input[type="radio"] {
  transform: scale(1.25);
  accent-color: green;
  margin-right: 5px;
}

.add-transaction-button {
  line-height: 20px;
  width: 150px;
  height: 40px; 
  padding-left: 0;
  background-color: var(--button-primary-color);
}